/*Reset http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
video,
object {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #ccc;
  cursor: help;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
cite {
  font-style: normal;
}
:focus {
  outline: 0;
}
abbr,
acronym {
  cursor: help;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
th,
td {
  vertical-align: top;
}
/*font colour*/
/*box shadow*/
.shadow {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}
.baseborder {
  border-bottom: 1px solid #dbdee0;
}
/*consistent submit buttons*/
.submitbutton {
  border: 2px solid rgba(255, 255, 255, 0.85);
  display: inline-block;
  font-weight: bold;
  width: auto;
  padding: 0 10px 2px 12px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  border-radius: 12px;
  font-size: 13px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
  background: #000;
  color: #1c342c;
  position: relative;
  float: left;
  margin-top: 18px;
}
.submitbuttonhover {
  background: #2f83a7;
  border-color: #fff;
  color: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
  text-decoration: none;
}
/*html body*/
html {
  -webkit-text-size-adjust: none;
  background: #3ba3d8;
}
body {
  font: normal 81.25%/1.333em /*(13px/16px)*/ "ff-meta-web-pro", Helvetica, Arial, sans-serif;
  color: #333333;
  background: #2f83a7;
  font-family: "ff-meta-web-pro";
}
/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 18px;
  line-height: 18px;
  color: #2f83a7;
}
h1 {
  font-size: 36px;
  line-height: 36px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
}
h3 {
  font-size: 22px;
  line-height: 26px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
}
h5 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
small {
  font-size: 12px;
}
large {
  font-size: 16px;
}
.subhead {
  color: #117585;
}
.subhead.detail {
  font-size: 25px;
  line-height: 32px;
}
/*tabbed blockquotes*/
.blockquote {
  padding: 0;
  position: relative;
  overflow: hidden;
  margin: 0 0 18px 0;
}
.blockquote h4 {
  display: inline;
}
.blockquote cite {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 18px 0;
  display: inline;
  overflow: hidden;
  padding: 0;
  font-style: normal;
}
.blockquote blockquote {
  font-style: normal;
  margin: 0;
  display: inline;
}
.blockquote-aside {
  padding: 0;
  position: relative;
  overflow: hidden;
  margin: 18px 0;
  background: url(../img/icons/quote-top.png) 0 0 no-repeat;
  padding-top: 40px;
}
.blockquote-aside h4 {
  display: inline;
  color: #117585;
}
.blockquote-aside cite {
  font-size: 14px;
  font-weight: bold;
  color: #3ba3d8;
  margin: 18px  0 0;
  display: block;
  clear: both;
  overflow: hidden;
  padding: 0;
  font-style: normal;
  background: url(../img/icons/quote-base.png) 0 100% no-repeat;
  padding-bottom: 40px;
}
.blockquote-aside blockquote {
  font-style: normal;
  margin: 0;
  display: inline;
}
/*Type/Lists*/
::-webkit-selection {
  background: #2f83a7;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #2f83a7;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #2f83a7;
  color: #fff;
  text-shadow: none;
}
ol,
ul,
dl,
p {
  margin-bottom: 18px;
}
#mainsection ul {
  list-style: outside;
  list-style-image: url(../img/icons/bullet.png);
  padding: 0 0 0 25px;
}
#mainsection ol {
  list-style: decimal outside;
  padding: 0 0 0 25px;
}
#mainsection ul li,
#mainsection ol li {
  padding-left: 5px;
  margin-bottom: 8px;
}
dt,
th {
  font-weight: bold;
}
dd {
  margin: 0;
  font-weight: normal;
}
em {
  font-style: normal;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #2f83a7;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  color: #053348;
}
/*Layout*/
.wrapper {
  position: relative;
  width: 940px;
  margin: 0 auto;
  clear: both;
  height: 1%;
  padding: 0;
}
.wrapper:after {
  content: ".";
  display: block;
  clear: both;
  width: 0;
  height: 0;
  visibility: hidden;
}
#branding {
  position: relative;
  overflow: hidden;
  zoom: 1;
  padding: 0;
  margin: 0 auto;
  min-height: 140px;
  height: auto!important;
  height: 140px;
  background: #2f83a7;
}
#logo {
  margin: 0;
}
#logo a {
  position: absolute;
  top: 30px;
  left: 27px;
  display: block;
  margin: 0;
  width: 255px;
  height: 100px;
  text-indent: -9999px;
  background: url(../img/logos/acorn.png) 0 0 no-repeat;
}
.branding-meta {
  width: 573px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 27px;
}
.bm-meta {
  height: 45px;
  text-align: right;
}
#search {
  width: 240px;
  height: 36px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 47px;
}
#bm-delegate a {
  width: 110px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 300px;
  background: #3ba3d8;
  color: #fff;
  text-align: center;
}
#bm-delegate a:hover {
  text-decoration: none;
  background: #fff;
  color: #2f83a7;
}
#bm-linkedin a {
  width: 80px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 420px;
  color: #fff;
  text-align: center;
}
#bm-twitter a {
  width: 38px;
  padding-right: 40px;
  height: 36px;
  line-height: 36px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 505px;
  background: url(../img/icons/twitter.png) 100% 50% no-repeat;
  color: #fff;
  text-align: left;
}
.bm-contact {
  height: 35px;
  font-size: 14px;
  color: #fff;
  line-height: 35px;
  text-align: right;
  position: absolute;
  top: 50px;
  right: 47px;
}
.bm-contact em {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}
.bm-contact a {
  color: #fff;
}
.bm-contact a.tel:hover {
  text-decoration: none;
}
.bm-email {
  margin-left: 5px;
}
.branding-strapline {
  width: 573px;
  height: 45px;
  overflow: hidden;
  position: absolute;
  top: 90px;
  right: 0;
  text-align: right;
  padding-right: 47px;
}
.branding-strapline h2 {
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
}
#navigation {
  position: relative;
  overflow: hidden;
  zoom: 1;
}
#navigation ul {
  margin: 0;
  padding: 0 27px;
  position: relative;
  overflow: hidden;
}
#navigation li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
#navigation li a {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0 6px;
  text-align: center;
  line-height: 36px;
  font-weight: normal;
  color: #fff;
  background: url(../img/menus/spacer.jpg) 0 50% no-repeat;
}
#navigation li:nth-child(2) a {
  background: none;
}
#navigation #home a {
  width: 36px;
  height: 36px;
  background: url(../img/menus/home.png) 0 0 no-repeat;
  text-indent: -99999px;
  padding: 0;
}
#navigation li:nth-child(2) a {
  width: 100px;
  padding-left: 0;
}
#navigation li:nth-child(3) a {
  width: 100px;
}
#navigation li:nth-child(4) a {
  width: 130px;
}
#navigation li:nth-child(5) a {
  width: 110px;
}
#navigation li:nth-child(6) a {
  width: 95px;
}
#navigation li a.active {
  /*background-color:#fff; color:@darkblue;*/
  font-weight: bold;
  text-decoration: none;
}
#navigation li a:hover {
  text-decoration: underline;
  font-weight: normal;
}
#navigation li a.active:hover {
  text-decoration: none;
  font-weight: bold;
}
li#navigation-supp {
  float: right;
}
li#navigation-supp ul {
  float: right;
  display: inline-block;
  padding: 0;
}
li#navigation-supp li:first-child a {
  background: none;
  width: 95px;
}
li#navigation-supp li:nth-child(2) a {
  background: url(../img/menus/spacer.jpg) 0 50% no-repeat;
  width: 80px;
  padding-right: 0;
}
#hero {
  background: #3ba3d8;
}
#mainsection {
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 860px;
  padding: 30px 40px;
  float: left;
}
.maincontent {
  position: relative;
  overflow: visible;
  width: 600px;
  padding: 0;
  float: left;
}
.aside {
  position: relative;
  overflow: hidden;
  width: 230px;
  float: left;
  padding: 5px 0 0 30px;
}
.fullwidth {
  position: relative;
  overflow: hidden;
  width: 860px;
  float: left;
}
img.breakout {
  position: relative;
  top: -30px;
  left: -40px;
}
.maincontent img {
  margin-bottom: 18px;
}
.section,
.section-wrap {
  position: relative;
  overflow: hidden;
  float: left;
  width: 600px;
  border-bottom: 1px solid #dbdee0;
  margin-bottom: 30px;
}
.section-wrap {
  border: none;
  margin-bottom: 0;
}
.section img {
  float: left;
  margin: 0 30px 18px 0;
}
.tables .section {
  margin-bottom: 18px;
}
.section.accordion {
  margin-bottom: 0;
  border: none;
}
.accordion h4 {
  margin-bottom: 8px;
}
.accordion h4 a {
  background: url(../img/icons/arrow-accordion.png) 100% 0 no-repeat;
  display: inline-block;
  padding-right: 38px;
}
.accordion h4 a:hover {
  background-position: 100% -30px;
}
.accordion.open h4 a,
.accordion.open h4 a:hover {
  background-position: 100% -60px;
}
.section.feature {
  border-bottom: 1px solid #2f83a7;
}
.section.feature h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
.section.feature h4 span {
  display: block;
  margin-top: 4px;
  color: #3ba3d8;
}
.listing {
  margin: 0 0 15px 0;
  float: left;
  display: block;
}
.listing img {
  float: left;
  margin: 4px 20px 10px 0;
  z-index: 5;
}
.listing a h4 {
  display: inline;
  color: #2f83a7;
}
.listing h4,
.listing p {
  margin-top: 8px;
}
.listing a:hover,
.listing a:hover h4 {
  color: #053348;
}
.arrow,
.asidearrow,
.asidearrowgrey {
  margin-bottom: 6px;
}
.arrow a,
.asidearrow a,
.inlinearrow a,
.listingarrow a {
  display: inline-block;
  color: #fff;
  padding: 8px 35px 4px 30px;
  background: url(../img/icons/arrow-blue.png) 100% 0 no-repeat;
  margin: 0 0 0 -30px;
  width: 230px;
}
.arrow a:hover,
.asidearrow a:hover,
h4.arrowexpand a:hover,
.inlinearrow a:hover,
.listingarrow a:hover {
  background-position: 100% -30px;
  text-decoration: none;
  color: #fff;
}
.asidearrow a,
.listingarrow a {
  margin-left: 0;
  width: 130px;
  padding-left: 10px;
}
.inlinearrow a {
  padding-left: 40px;
  margin-left: -40px;
  width: auto;
}
h4.arrowexpand {
  display: block;
  clear: both;
}
h4.arrowexpand a {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 18px 0;
  display: inline-block;
  color: #fff;
  padding: 8px 55px 5px 15px;
  background: url(../img/icons/arrow-blue.png) 100% 0 no-repeat;
}
.asidearrowgrey a {
  display: inline-block;
  color: #2f83a7;
  padding: 8px 35px 4px 30px;
  background: url(../img/icons/arrow-grey.png) 100% 0 no-repeat;
  margin: 0;
  width: 185px;
}
.asidearrowgrey a:hover {
  background-position: 100% -30px;
  text-decoration: none;
  color: #fff;
}
.sectiongrid {
  position: relative;
  overflow: hidden;
  float: left;
  width: 190px;
  border-bottom: 1px solid #dbdee0;
  margin: 0 15px 15px 0;
}
.grid .sectiongrid:nth-child(3n) {
  margin-right: 0;
}
.sectiongrid img {
  margin-bottom: 10px;
}
.sectioncolumn {
  position: relative;
  overflow: hidden;
  float: left;
  width: 200px;
  border-bottom: 1px solid #dbdee0;
  margin: 0 20px 15px 0;
}
.sectioncolumn:last-child {
  margin-right: 0;
}
.sectioncolumn img {
  margin-bottom: 10px;
}
.maincontent h3.withpager {
  padding-right: 180px;
}
.criteria {
  overflow: hidden;
  position: relative;
  width: 600px;
  margin-bottom: 36px;
}
.criteria h4 {
  font-size: 16px;
  margin-bottom: 5px;
}
.criteria h5 {
  font-size: 15px;
  margin-bottom: 4px;
}
#mainsection .maincontent .bubble {
  margin: 0 0 18px 0;
  padding: 0;
  overflow: hidden;
  float: left;
  width: 600px;
  position: relative;
  clear: both;
}
#mainsection .bubble li {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  clear: both;
}
#mainsection .bubble li a {
  padding: 8px 15px 6px 15px;
  border-radius: 8px;
  background: #e0e2e1;
  margin: 0 10px 10px 0;
  float: left;
  display: block;
}
#mainsection .bubble li a:hover {
  text-decoration: none;
  background: #2f83a7;
  color: #fff;
}
#mainsection .bubble.inline li {
  display: inline-block;
  clear: none;
}
#mainsection .bubble.inline li a {
  display: inline-block;
}
#mainsection .aside .bubble {
  margin: 0 0 18px 0;
  padding: 0;
  overflow: hidden;
  float: left;
  width: 230px;
  position: relative;
  clear: both;
}
.pager {
  width: 145px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
}
.pager a {
  background: url(../img/menus/pager.png) 0 0 no-repeat;
  padding: 0;
  text-indent: -99999px;
  display: inline-block;
  width: 28px;
  height: 28px;
  float: left;
  margin: 0;
}
.pager a:hover,
.pager a.activeSlide {
  background-position: 0 -28px;
}
.aside-block {
  position: relative;
  overflow: hidden;
  zoom: 1;
  margin-bottom: 18px;
}
.aside h4 {
  margin-bottom: 10px;
}
.aside h5 {
  line-height: 20px;
  margin-bottom: 6px;
}
.aside-section {
  position: relative;
  overflow: hidden;
  zoom: 1;
  margin-bottom: 10px;
}
.aside-section.bg {
  background: #ebecee;
  padding: 15px;
}
.aside-section p:last-child {
  margin-bottom: 0;
}
.aside-section .cite {
  display: block;
  font-weight: bold;
  color: #2f83a7;
  margin: 0 0 6px 0;
}
#mainsection .partners ul {
  margin: 5px 0;
  padding: 15px 0;
  border: 1px solid #2f83a7;
  border-left: none;
  border-right: none;
}
#mainsection .partners li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.scrollme {
  position: relative;
  height: 28px;
  overflow: hidden;
  width: 230px;
}
.scrollme a {
  display: inline-block;
  float: left;
  width: 38px;
  height: 28px;
  text-indent: -99999px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.scrollme.up a {
  background-image: url(../img/icons/arrow-up.png);
}
.scrollme.down a {
  background-image: url(../img/icons/arrow-down.png);
}
.scrollme a:hover {
  background-position: -38px 0;
}
#footer {
  position: relative;
  background: #3ba3d8;
  color: #fff;
  padding-top: 36px;
}
#footer .wrapper {
  width: 860px;
}
#footer #copy {
  float: left;
  width: 860px;
  text-align: left;
  font-size: 12px;
  margin: 36px 0 18px 0;
}
#footer #copy a {
  font-weight: normal;
  color: #fff;
}
.basecolumn {
  position: relative;
  overflow: hidden;
  float: left;
  width: 200px;
  margin: 0 20px 0 0;
}
.basecolumn:nth-child(4n) {
  margin-right: 0;
}
.basecolumn h6 {
  font-size: 18px;
}
.basecolumn h6,
.basecolumn h6 a,
.basecolumn a {
  color: #fff;
}
.basecolumn h6 a:hover,
.basecolumn a:hover {
  text-decoration: underline;
}
.basecolumn ul {
  margin: 0;
  padding: 0;
}
.basecolumn ul li {
  margin: 0 0 5px 0;
  padding: 0;
}
/*forms*/
input,
select {
  vertical-align: middle;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
button {
  width: auto;
  overflow: visible;
}
.form-text {
  padding: 4px 8px;
  font-size: 12px;
  color: #333;
  margin-bottom: 18px;
}
.form-submit {
  background: #0e7470;
  display: inline-block;
  padding: 8px 14px;
  width: 78px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  float: left;
  cursor: pointer;
  clear: left;
  margin-bottom: 18px;
  -webkit-appearance: none;
  border: none;
}
.form-submit:hover {
  background: #04504d;
}
#search label {
  display: none;
}
#search .form-text {
  background: #fff;
  color: #484848;
  height: 36px;
  line-height: 36px;
  width: 200px;
  padding: 0 15px;
  border: none;
  color: #2f83a7;
  margin: 0;
  position: relative;
  font-weight: normal;
}
#search .form-text:focus {
  color: #000;
}
#search .form-submit {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 0;
  background: #ffffff url(../img/icons/search.png) 0 0 no-repeat;
  border: none;
  text-indent: -99999px;
}
/*tables*/
table {
  border-collapse: collapse;
  border-spacing: none;
  margin-bottom: 18px;
  width: 100%;
}
tbody {
  border-top: none;
}
table h5 {
  margin-bottom: 0;
  font-size: 14px;
}
thead th {
  background: #2f83a7;
  color: #fff;
}
tr th {
  font-weight: bold;
  font-size: 13px;
  padding: 8px 12px;
  text-align: left;
  border: 4px solid #fff;
  border-left: none;
}
tr td {
  border: 4px solid #fff;
  padding: 8px 12px;
  vertical-align: top;
  border-left: none;
}
tbody tr:nth-child(odd) td {
  background: #ebecee;
}
table p {
  margin-bottom: 8px;
}
table p:last-child {
  margin-bottom: 0;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
/* ie */
.ie6 input {
  vertical-align: text-middle;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
